{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

    <!-- Displays any messages to the use -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div
          class = "w3-container w3-red"
        >
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

<hr>
{{quiz_info}}
<!-- Quiz Information -->  
    <h2> Quiz Info:</h2>
    <h3>
      Quiz: {{quiz_info['quiz_name']}} {% if quiz_info['quiz_completed'] %}<b style='color:red;'>Completed</b>{% elif quiz_info['quiz_active'] %}<b style='color:green;'>Active</b>{% endif %}
    </h3>
    {{quiz_info['quiz_description']}}
    <br>
    Number of Rounds: {{quiz_info['number_of_associated_rounds']}}
    <br>
    Number of Questions: {{quiz_info['number_of_associated_questions']}}
    <br>
    Most common Question category: {{quiz_info['mode_question_category']}}
    <br>
    Average Question Difficulty: {{quiz_info['average_question_difficulty']}}/10
    <br>
    Total points in this Quiz: {{quiz_info['total_points']}}
    {% if quiz_info['quiz_end'] %}
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'complete_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          class = "registerbtn"
          value = "{{quiz_info['quiz_id']}}"
        >
          Finish Quiz
        </button>
      </form>
    {% endif %}
    <hr>

  <!-- Round Information -->  
    <h2> Round Info:</h2>
    {% if associated_round_info %}
      {% for associated_round in associated_round_info %}
        <h3>
          Round {{associated_round['round_order']}}: {{associated_round['round_name']}} {% if associated_round['round_completed'] %}<b style='color:red;'>Completed</b>{% elif associated_round['round_active'] %}<b style='color:green;'>Active</b>{% elif associated_round['next_round'] %}<b style='color:blue;'>Upcoming</b>{% endif %}
        </h3>
        {% if associated_round['round_description'] %}
          {{associated_round['round_description']}}
          <br>
        {% endif %}
        {% if associated_round['number_of_associated_questions'] %}
          Number of Questions: {{associated_round['number_of_associated_questions']}}
          <br>
        {% endif %}
        {% if associated_round['mode_question_category'] %}
          Category Type: {{associated_round['mode_question_category']}}
          <br>
        {% endif %}
        {% if associated_round['average_question_difficulty'] %}
          Round Difficulty: {{associated_round['average_question_difficulty']}}/10
          <br>
        {% endif %}
        {% if associated_round['total_points'] and associated_round['round_completed'] %}
          Total number of Points in round: {{associated_round['total_points']}}
        {% endif %}
        {% if loop.last %}
        {% else %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
      {% endfor %}
    {% endif %}

<hr>

<!-- Question Information -->  
  <h2> Question Info:</h2>
  {% if round_questions %}
    {% for question in round_questions %}
      <h3>
        Question {{question['question_order']}}: {{question['question_tag']}} {% if question['question_completed'] %}<b style='color:red;'>Completed</b>{% elif question['next_question'] %}<b style='color:blue;'>Upcoming</b>{% elif question['question_active'] %}<b style='color:green;'>Active</b>{% endif %}
      </h3>
      {% if question['question_category'] %}
        Category Type: {{question['question_category']}}
        <br>
      {% endif %}
      {% if question['question_difficulty'] %}
        Question Difficulty: {{question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if question['question_points'] and question['question_completed'] %}
        Total number of Points in question: {{question['question_points']}}
      {% endif %}
      {% if loop.last %}
      {% else %}
        <hr style="width:40%; margin: auto; margin-bottom:2em">
      {% endif %}
    {% endfor %}
  {% else %}
    There are no active Rounds
  {% endif %}
  <hr>

    <!-- Participant Information -->
    {% if quiz_info['quiz_active'] != 1 and quiz_info['quiz_completed'] is none %}
      <h3> Participant Info:</h3>
      <table
        class = "w3-table"
      >
        {% if participant_info %}
          <tr>
            <th>
              Name
            </th>
            <th>
              Ready?
            </th>
          </tr>
          {% for participant in participant_info %}
          <tr>
              <td>
                {{participant['username']}}
              </td>
            {% if participant['participant_ready'] == 1 %}
              <td>
                Yes
              </td>
            {% else %}
              <td>
                No
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        {% else %}
          <p>
            You have not entered any participants in this Quiz
          </p>
        {% endif %}
      </table>
      {% if quiz_info['quiz_ready'] %}
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'start_quiz'
          )}}"
        >
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Start Quiz
          </button>
        </form>
      {% else %}
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'host_live_quiz'
          )}}"
        >
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Check if everyone is ready
          </button>
        </form>
      {% endif %}
      <hr>
    {% endif %}

    {% if quiz_info['quiz_completed'] is not none %}
      <form
        method = "POST"
        id     = "form"
        action = "{{ url_for(
          'results'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          View Results
        </button>
      </form>
      <hr>
    {% endif %}

  <!-- The Question -->
  {% if active_question %}
    <h2>
      Active Question
    </h2>
    <h3>
      Question {{active_question['question_order']}}: {{active_question['question_tag']}}
    </h3>
    <h4>
      {{active_question['question_text']}}
    </h4>
      <p>
        Scoring Type: {{active_question['question_scoring_type']}}
        <br>
        Points: {{active_question['question_points']}}
      </p>
      <hr>
    {% endif %}

  <!-- End page content -->
  <h4>To do:</h4>
  <ul>
      <li>Complete Quiz when all rounds are finished</li>
      <li>Mark answers</li>
      <li>Allow to view previous questions/rounds</li>
      <li>Progress bar of question</li>
  </ul>
{%endblock%}