{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


    {% if quiz_info['quiz_completed'] is none %}
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'live_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          class = "registerbtn"
          value = "{{quiz_info['quiz_id']}}"
        >
          Refresh Page
        </button>
      </form>

      <hr>

    {% endif %}


<!-- Quiz Information -->  
    <h2> Quiz Info:</h2>
    <h3>
      Quiz: {{quiz_info['quiz_name']}} {% if quiz_info['quiz_completed'] %}<b style='color:red;'>Completed</b>{% elif quiz_info['quiz_active'] %}<b style='color:green;'>Active</b>{% endif %}
    </h3>
    {{quiz_info['quiz_description']}}
    <div class="w3-section w3-light-grey">
      <div class="w3-container w3-padding-small w3-red w3-center" style="width:{{quiz_info['percentage_completed']}}%">{{quiz_info['percentage_completed']}}%</div>
    </div>
    Number of Rounds: {{quiz_info['number_of_associated_rounds']}}
    <br>
    Number of Questions: {{quiz_info['number_of_associated_questions']}}
    <br>
    Questions Completed: {{quiz_info['completed_questions']}}
    <br>
    Most common Question category: {{quiz_info['mode_question_category']}}
    <br>
    Average Question Difficulty: {{quiz_info['average_question_difficulty']}}/10
    <br>
    Total points in this Quiz: {{quiz_info['total_points']}}
    {% if quiz_info['quiz_end'] and quiz_info['quiz_end'] is none %}
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'complete_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          class = "registerbtn"
          value = "{{quiz_info['quiz_id']}}"
        >
          Finish Quiz
        </button>
      </form>
    {% endif %}
    <hr>

  <!-- Round Information -->  
    <h2> Round Info:</h2>
    {% if associated_round_info %}
      {% for associated_round in associated_round_info %}
        <h3>
          Round {{associated_round['round_order']}}: {{associated_round['round_name']}} {% if associated_round['round_completed'] %}<b style='color:red;'>Completed</b>{% elif associated_round['round_active'] %}<b style='color:green;'>Active</b>{% elif associated_round['next_round'] %}<b style='color:blue;'>Upcoming</b>{% endif %}
        </h3>
        {% if associated_round['round_description'] %}
          {{associated_round['round_description']}}
          <br>
        {% endif %}
        <div class="w3-section w3-light-grey">
          <div class="w3-container w3-padding-small w3-red w3-center" style="width:{{associated_round['percentage_complete']}}%">{{associated_round['percentage_complete']}}%</div>
        </div>
        {% if associated_round['number_of_associated_questions'] %}
          Number of Questions: {{associated_round['number_of_associated_questions']}}
          <br>
          Questions Completed:  {{associated_round['completed_questions']}}
          <br>
        {% endif %}
        {% if associated_round['mode_question_category'] %}
          Category Type: {{associated_round['mode_question_category']}}
          <br>
        {% endif %}
        {% if associated_round['average_question_difficulty'] %}
          Round Difficulty: {{associated_round['average_question_difficulty']}}/10
          <br>
        {% endif %}
        {% if associated_round['total_points'] and associated_round['round_completed'] %}
          Total number of Points in round: {{associated_round['total_points']}}
        {% endif %}
        {% if loop.last %}
        {% else %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
      {% endfor %}
    {% endif %}

<hr>

<!-- Question Information -->  
  <h2> Question Info:</h2>
  {% if round_questions %}
    {% for question in round_questions %}
      <h3>
        Question {{question['question_order']}}: {{question['question_tag']}} {% if question['question_completed'] %}<b style='color:red;'>Completed</b>{% elif question['next_question'] %}<b style='color:blue;'>Upcoming</b>{% elif question['question_active'] %}<b style='color:green;'>Active</b>{% endif %}
      </h3>
      {% if question['question_completed'] or question['question_active'] %}
        {{question['question_text']}}
        <br>
        Your Answer: {{question['answer_text']}}
        {% if question['lock_answers'] == 1 or 'quiz_end' in quiz_info %}
          <br>
          Correct Answer: {{question['question_correct_answer']}}
          <br>
        {% endif %}
      {% endif %}
      {% if 'quiz_end' not in quiz_info and (question['next_question'] or question['question_completed'] or question['question_active']) %}
        <form
          method  = "POST"
          action  = "{{ url_for(
            'submit_answer'
          )}}"
        >
          <input
            type  = "hidden"
            id    = "question_id"
            name  = "question_id"
            value = "{{question['question_id']}}"
          />
          <input
            type  = "hidden"
            id    = "round_id"
            name  = "round_id"
            value = "{{question['round_id']}}"
          />
          <input
            type  = "hidden"
            id    = "quiz_id"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <textarea
            rows          = "2"
            cols          = "20"
            placeholder   = "New Answer"
            name          = "new_answer"
            id            = "new_answer"
            required wrap = "soft"
          ></textarea>
          <style>
            #new_answer {
              width: 100%;
            }
          </style>
          <br/>
          <button
            type  = "submit"
            class = "registerbtn"
          >
            {% if question['answer_text'] %}Update{% else %}Submit{% endif %} Answer
          </button>
        </form>
      {% endif %}
      {% if question['question_completed'] or question['question_active'] %}
        {% if 'hints_used' in question %}
          {% if question['number_of_hints'] != 0 and question['hints_used'] != 0 %}
            <h4>Hints:</h4>
            {% for hint_index in range(1,question['hints_used']+1) %}
              Hint {{hint_index}}: {{ question['hint_' ~ hint_index] }}
              <br>
            {% endfor %}
          {% endif %}
          {% if question['hints_used'] != question['number_of_hints'] and question['lock_answers'] != 1 and question['number_of_hints'] != 0 and 'quiz_end' not in quiz_info %}
            <form
              method  = "POST"
              id      = "form"
              action  = "{{ url_for(
                'use_hint'
              )}}"
            >
              <input
                type  = "hidden"
                id    = "source_point"
                name  = "source_point"
                value = "live_quiz"
              />
              <input
                type  = "hidden"
                id    = "user_id"
                name  = "user_id"
                value = "{{session['user_id']}}"
              />
              <input
                type  = "hidden"
                id    = "question_id"
                name  = "question_id"
                value = "{{question['question_id']}}"
              />
              <input
                type  = "hidden"
                id    = "round_id"
                name  = "round_id"
                value = "{{question['round_id']}}"
              />
              <input
                type  = "hidden"
                id    = "hints_used"
                name  = "hints_used"
                value = "{{question['hints_used']}}"
              />
              <button
                type  = "submit"
                name  = "quiz_id"
                class = "registerbtn"
                value = "{{quiz_info['quiz_id']}}"
              >
                Spend {{question['hint_cost']}} points to unlock a new Hint
              </button>
            </form>
          {% endif %}
        {% endif %}
        <br>
        Scoring Type: {{question['question_scoring_type']}}
        <br>
      {% endif %}
      {% if question['question_category'] %}
        Category Type: {{question['question_category']}}
        <br>
      {% endif %}
      {% if question['question_difficulty'] %}
        Question Difficulty: {{question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if question['question_points'] and (question['question_completed'] or question['question_active']) and 'quiz_end' not in quiz_info %}
        Maximum points you can earn in this question is {{question['question_points']}} points
      {% elif 'quiz_end' in quiz_info %}
          You scored {{question['answer_points']}}/{{question['question_points']}} points on this Question
      {% endif %}
      {% if loop.last %}
      {% else %}
        <hr style="width:40%; margin: auto; margin-bottom:2em">
      {% endif %}
    {% endfor %}
  {% else %}
    There are no active Rounds
  {% endif %}
  <hr>

    <!-- Participant Information -->
    {% if quiz_info['quiz_active'] != 1 and quiz_info['quiz_completed'] is none %}
      <h3> Participant Info:</h3>
      <table
        class = "w3-table"
      >
        {% if all_participant_info %}
          <tr>
            <th>
              Name
            </th>
            <th>
              Ready?
            </th>
          </tr>
          {% for participant in all_participant_info %}
            {% if participant['user_id'] == session['user_id'] %}<tr class="me">{% else %}<tr>{% endif %}
              <td>
                {{participant['username']}}{% if participant['user_id'] == session['user_id'] %} (You){% endif %}
              </td>
            {% if participant['participant_ready'] == 1 %}
              <td>
                Yes
              </td>
            {% else %}
              <td>
                No
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        {% else %}
          <p>
            There are no participants entered in this Quiz. How are you here?
          </p>
        {% endif %}
      </table>
      {% if participant_info['participant_ready'] == 1 %}
        <p>
          Please wait for everyone else to be ready and for the Host to start the Quiz
        </p>
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'quiz_unready'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "user_id"
            value = "{{session['user_id']}}"
          />
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Unready
          </button>
        </form>
      {% else %}
        <p>
          Are you ready?
        </p>
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'quiz_ready'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "user_id"
            value = "{{session['user_id']}}"
          />
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Ready
          </button>
        </form>
      {% endif %}
      <hr>
    {% endif %}


  <!-- Item Info -->
  <h2> Item:</h2>
  {% if participant_info['participant_item_id'] %}
    Item Name:{{participant_info['item_name']}}
    <br>
    Item Description: {{participant_info['item_description']}}
  {% else %}
    You don't have an item
  {% endif %}
  <hr>


  <!-- Leader Board -->
  {% if quiz_info['quiz_active'] == 1 or quiz_info['quiz_completed'] == 1 %}
    <h2> Leaderboard:</h2>
    {% if 'quiz_end' not in quiz_info %}
      <p>
        This table only shows 1st place, and those 1 position ahead and behind you
      </p>
    {% endif %}
    <table
      class = "w3-table"
    >
      {% if leaderboard %}
        <tr>
          <th>
            Position
          </th>
          <th>
            Name
          </th>
          <th>
            Score
          </th>
        </tr>
        {% for participant in leaderboard %}
          {% if participant['user_id'] == session['user_id'] %}<tr class="me">{% else %}<tr>{% endif %}
            <td>
              {{participant['participant_position']}}
            </td>
            <td>
              {{participant['username']}}{% if participant['user_id'] == session['user_id'] %} (You){% endif %}
            </td>
            <td>
              {{participant['participant_score']}}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <p>
          No one is in this Quiz
        </p>
      {% endif %}
    </table>
    <hr>
  {% endif %}

  {% if quiz_info['quiz_completed'] is not none %}
    <form
      method = "POST"
      id     = "form"
      action = "{{ url_for(
        'results'
      )}}"
    >
      <button
        type  = "submit"
        name  = "quiz_id"
        value = "{{quiz_info['quiz_id']}}"
        class = "registerbtn"
      >
        View Results from {{quiz_info['quiz_name']}}
      </button>
    </form>
    <hr>
  {% endif %}

  <!-- End page content -->
  <h4>To do:</h4>
  <ul>
      <li>Not sure whether or not to keep whole leaderboard at the end of quiz</li>
      <li>Add items</li>
      <li>Add pictures</li>
      <li>Add multiline</li>
  </ul>

  <hr>

  {% if quiz_info['quiz_completed'] is none %}
    <form
      method  = "POST"
      id      = "form"
      action  = "{{ url_for(
        'live_quiz'
      )}}"
    >
      <button
        type  = "submit"
        name  = "quiz_id"
        class = "registerbtn"
        value = "{{quiz_info['quiz_id']}}"
      >
        Refresh Page
      </button>
    </form>

    <hr>

  {% endif %}

{%endblock%}