<!DOCTYPE html>
<html
  lang = "en"
>
  <head>
    <title>
      TDC Games
    </title>
    <meta
      charset = "UTF-8"
    />
    <meta
      name    = "viewport"
      content = "width=device-width, initial-scale=1"
    />
    <link
      rel   = "stylesheet"
      href  = "https://www.w3schools.com/w3css/4/w3.css"
    />
    <link
      rel   = "stylesheet"
      href  = "https://fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel   = "stylesheet"
      href  = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Poppins", sans-serif
      }

      body {
        font-size:16px;
      }
    </style>
    
  </head>

  <nav>
    {% include 'includes/_navbar.html'%}
  </nav>

  <body>
    <div
      class = "w3-main"
      style = "
        margin-left:340px;
        margin-right:40px
      "
    >
      <div
        class = "w3-container"
        style = "margin-top:80px"
        id    = "home"
      >
        <h1
          class = "w3-xxxlarge w3-text-red"
        >
          <b>
            {{name}}
          </b>
        </h1>
        <hr
          style = "
            width:50px;
            border:5px solid #ff0000
          "
          class = "w3-round"
        />
      </div>
      <!-- Displays any messages to the use -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <!-- Maybe add loop for multiple messages -->
            <div
              style="white-space: pre-wrap;"
              class = "w3-container w3-red"
            >Message {{loop.index}}: {{message}}</div>
            {% if not loop.last %}
              <br>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <hr>
      {%block body%}
        <!-- Individual page body here -->
      {%endblock%}
    </div>

    <footer>
      {% include 'includes/_footer.html'%}
    </footer>

  </body>
</html>