{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel= "stylesheet"
      type= "text/css"
      href= "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  <!-- !PAGE CONTENT! -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <!-- Maybe add loop for multiple messages -->
        <div
          class = "w3-container w3-red"
        >
          {{ messages }}
        </div>
    {% endif %}
  {% endwith %}

  <hr/>

  <form
    method = "POST"
    action = "{{ url_for(
      'update_question'
    )}}"
  >
    <h4>
      Question Tag: {{question_info['question_tag']}}
    </h4>
    <input
      type        = "text"
      placeholder = "New Question Tag"
      name        = "question_update"
      id          = "question_update"
      pattern     = "[^&quot,']+"
    />
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_tag"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_tag'] %}Update Question Tag{% else %}Add a Question Tag{% endif %}
      </button>
  </form>

<!-- Question Order -->

<!-- Question -->

  <h4>
    Question:
  </h4>
  <p>
    {{question_info['question_text']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
    )}}"
  >
    <textarea
      rows          = "2"
      cols          = "20"
      placeholder   = "New Question"
      name          = "question_update"
      id            = "question_update"
      required wrap = "soft"
    ></textarea>
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_text"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_text'] %}Update Question{% else %}Add a Question{% endif %}
      </button>
    <style>
      #question_update {
        width: 100%;
      }
    </style>
  </form>

  <hr/>

  <!-- Question Type -->
  <h4>
    Question Type:
  </h4>

  <p>
    {{question_info['question_type_name']}}
    <br>
    {{question_info['question_type_description']}}
  </p>
  {% if question_types %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <select
        name  = "question_update"
        id    = "question_update"
      >
        {% for question_type in question_types %}
            <option
              value = "{{question_type['question_type_id']}}"
            >
              {{question_type['question_type_name']}}
            </option>
        {% endfor %}
      </select>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_type_id"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Update Question Type
      </button>
    </form>
  {% endif %}

</hr>

<!-- Question Answer -->
  
  <hr/>

  <h4>
    Answer:
  </h4>
  <p>
    {{question_info['question_correct_answer']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
      )}}"
    >
      <textarea
        rows          = "2"
        cols          = "20"
        placeholder   = "New Answer"
        name          = "question_update"
        id            = "question_update"
        required wrap = "soft"
      ></textarea>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_correct_answer"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_correct_answer'] %}Update Answer{% else %}Add an Answer{% endif %}
      </button>
  </form>

  {% if question_info['question_correct_answer'] %}
    <form
      method  = "POST" 
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_correct_answer"
      />
      <input
        type  = "hidden"
        name  = "question_update"
        value = "NULL"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Remove Answer
      </button>
    </form>
  {% endif %}
  <hr/>


  <!-- Points -->

  <h4>
    Points:
  </h4>
  <p>
    Current question point value: {{question_info['question_points']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
    )}}"
  >
    <input
      type                = "text"
      placeholder         = "New Points"
      name                = "question_update"
      id                  = "question_update"
      required maxlength  = "3"
      pattern             = "[^&quot,']+"
    />
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_points"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_points'] %}Update Points{% else %}Add Points{% endif %}
      </button>
  </form>

  {% if question_info['question_points'] %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_points"
      />
      <input
        type  = "hidden"
        name  = "question_update"
        value = "NULL"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Remove Points
      </button>
    </form>
  {% endif %}

  <hr/>

   <!-- Question Scoring Type -->
   <h4>
    Question Scoring Type:
  </h4>

  <p>
    {{question_info['question_scoring_type_name']}}
    <br>
    {{question_info['question_scoring_type_description']}}
  </p>
  {% if question_scoring_types %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <select
        name  = "question_update"
        id    = "question_update"
      >
        {% for question_scoring_type in question_scoring_types %}
            <option
              value = "{{question_scoring_type['question_scoring_type_id']}}"
            >
              {{question_scoring_type['question_scoring_type_name']}}
            </option>
        {% endfor %}
      </select>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_scoring_type_id"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Update Question Type
      </button>
    </form>
  {% endif %}

<hr>

  <hr/>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'delete_question'
    )}}"
  >
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "round_id"
      value = "{{question_info['round_id']}}"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Delete Question
    </button>
  </form>

  <hr>
  <h4>To do:</h4>
  <ul>
      <li>Allow special characters in the question tag etc.</li>
      <li>Show associated Quizzes</li>
      <li>Show associated Rounds</li>
      <li>Option to chose question scoring type, and link to make more</li>
      <li>Option to chose category, and link to make more</li>
      <li>Add a link to make more question types</li>
      <li>Add hints</li>
      <li>Add media</li>
      <li>Add difficulty</li>
      <li>Make double buttons next to each other</li>
      <li>Can't associate to a Round without every field completed</li>
  </ul>


  <!-- End page content -->
{%endblock%}