{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel= "stylesheet"
      type= "text/css"
      href= "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  <!-- !PAGE CONTENT! -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <!-- Maybe add loop for multiple messages -->
        <div
          class = "w3-container w3-red"
        >
          {{ messages }}
        </div>
    {% endif %}
  {% endwith %}

  <hr>

  <form
    method = "POST"
    action = "{{ url_for(
      'update_question'
    )}}"
  >
    <h4>
      Question Tag: {{question_info['question_tag']}}
    </h4>
    <input
      type        = "text"
      placeholder = "New Question Tag"
      name        = "question_update"
      id          = "question_update"
      pattern     = "[^&quot,']+"
    />
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_tag"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_tag'] %}Update Question Tag{% else %}Add a Question Tag{% endif %}
      </button>
  </form>

  <hr>

<!-- Question -->

  <h4>
    Question:
  </h4>
  <p>
    {{question_info['question_text']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
    )}}"
  >
    <textarea
      rows          = "2"
      cols          = "20"
      placeholder   = "New Question"
      name          = "question_update"
      id            = "question_update"
      required wrap = "soft"
    ></textarea>
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_text"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_text'] %}Update Question{% else %}Add a Question{% endif %}
      </button>
    <style>
      #question_update {
        width: 100%;
      }
    </style>
  </form>

  <hr>

  <!-- Question Type -->
  <h4>
    Question Type:
  </h4>
  {% if question_info['question_type_name'] %}
    <p>
      {{question_info['question_type_name']}}
      <br>
      {{question_info['question_type_description']}}
    </p>
  {% else %}
    None
  {% endif %}
  <br>
  {% if question_types %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <select
        name  = "question_update"
        id    = "question_update"
      >
        {% for question_type in question_types %}
            <option
              value = "{{question_type['question_type_id']}}"
            >
              {{question_type['question_type_name']}}: {{question_type['question_type_description']}}
            </option>
        {% endfor %}
      </select>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_type_id"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Update Question Type
      </button>
    </form>
  {% else %}
    There are no Question types to choose
  {% endif %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'question_type_maker'
      )}}"
      >
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Create a new Question Type
      </button>
    </form>

</hr>

<!-- Question Answer -->
  
  <hr>

  <h4>
    Answer:
  </h4>
  <p>
    {{question_info['question_correct_answer']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
      )}}"
    >
      <textarea
        rows          = "2"
        cols          = "20"
        placeholder   = "New Answer"
        name          = "question_update"
        id            = "question_update"
        required wrap = "soft"
      ></textarea>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_correct_answer"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_correct_answer'] %}Update Answer{% else %}Add an Answer{% endif %}
      </button>
  </form>

  {% if question_info['question_correct_answer'] %}
    <form
      method  = "POST" 
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_correct_answer"
      />
      <input
        type  = "hidden"
        name  = "question_update"
        value = "NULL"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Remove Answer
      </button>
    </form>
  {% endif %}
  <hr>


  <!-- Points -->

  <h4>
    Points:
  </h4>
  <p>
    Current question point value: {{question_info['question_points']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
    )}}"
  >
    <input
      type                = "number"
      placeholder         = "New Points"
      name                = "question_update"
      id                  = "question_update"
      required maxlength  = "3"
      min                 = "0"
      step                = "1"
    />
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_points"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_points'] %}Update Points{% else %}Add Points{% endif %}
      </button>
  </form>

  {% if question_info['question_points'] %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_points"
      />
      <input
        type  = "hidden"
        name  = "question_update"
        value = "NULL"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Remove Points
      </button>
    </form>
  {% endif %}

  <hr>

  <!-- Points -->

  <h4>
    Difficulty:
  </h4>
  <p>
    Current question difficulty: {{question_info['question_difficulty']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_question'
    )}}"
  >
    <input
      type                = "number"
      placeholder         = "New Difficulty"
      name                = "question_update"
      id                  = "question_update"
      required maxlength  = "3"
      min                 = "0"
      step                = "1"
    />
    <br/>
    <input
      type  = "hidden"
      name  = "question_update_field"
      value = "question_difficulty"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
      <button
        type  = "submit"
        class = "registerbtn"
      >
      {% if question_info['question_difficulty'] %}Update Difficulty{% else %}Add Difficulty{% endif %}
      </button>
  </form>

  {% if question_info['question_difficulty'] %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_difficulty"
      />
      <input
        type  = "hidden"
        name  = "question_update"
        value = "NULL"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Remove Difficulty
      </button>
    </form>
  {% endif %}

  <hr>

   <!-- Question Scoring Type -->
   <h4>
    Question Scoring Type:
  </h4>
    {% if question_info['question_scoring_type_name'] %}
      <p>
        {{question_info['question_scoring_type_name']}}
        <br>
          {{question_info['question_scoring_type_description']}}
      </p>
    {% else %}
      None
    {% endif %}
      <br>
  {% if question_scoring_types %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <select
        name  = "question_update"
        id    = "question_update"
      >
        {% for question_scoring_type in question_scoring_types %}
            <option
              value = "{{question_scoring_type['question_scoring_type_id']}}"
            >
              {{question_scoring_type['question_scoring_type_name']}}: {{question_scoring_type['question_scoring_type_description']}}
            </option>
        {% endfor %}
      </select>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_scoring_type_id"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Update Question Scoring Type
      </button>
    </form>
    {% else %}
      There are no Question Scoring Types to choose
    {% endif %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'question_scoring_type_maker'
      )}}"
      >
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Create a new Question Scoring Type
      </button>
    </form>
  

  <hr>

   <!-- Categories -->
   <h4>
    Question Category:
  </h4>
    {% if question_info['category_name'] %}
      <p>
        {{question_info['category_name']}}
        <br>
          {{question_info['category_description']}}
      </p>
    {% else %}
      None
    {% endif %}
      <br>
  {% if question_categories %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'update_question'
      )}}"
    >
      <select
        name  = "question_update"
        id    = "question_update"
      >
        {% for question_category in question_categories %}
            <option
              value = "{{question_category['category_id']}}"
            >
              {{question_category['category_name']}}: {{question_category['category_description']}}
            </option>
        {% endfor %}
      </select>
      <br/>
      <input
        type  = "hidden"
        name  = "question_update_field"
        value = "question_category_id"
      />
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Update Question Category
      </button>
    </form>
    {% else %}
      There are no Question Categories to choose
    {% endif %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'category_maker'
      )}}"
      >
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Create a new Question Category
      </button>
    </form>
  

  <hr>

<!-- Hints -->

  <h4>
    Hints:
  </h4>
  {% if hints %}
    {% for hint in hints %}
      <p>
        Hint {{hint['hint_number']}}: {{hint['hint_text']}}
      </p>
      <form
        method  = "POST"
        action  = "{{ url_for(
          'update_hint'
        )}}"
      >
        <textarea
          rows          = "2"
          cols          = "20"
          placeholder   = "Update Hint"
          name          = "hint_text"
          id            = "hint_text"
          required wrap = "soft"
        ></textarea>
        <br/>
        <input
          type  = "hidden"
          name  = "hint_id"
          value = "{{hint['hint_id']}}"
        />
        <input
          type  = "hidden"
          name  = "question_id"
          value = "{{question_info['question_id']}}"
        />
        <input
          type  = "hidden"
          name  = "source_point"
          value = "question_template"
        />
        <button
          type  = "submit"
          class = "registerbtn"
        >
          Update Hint
        </button>
        <style>
          #hint_text {
            width: 100%;
          }
        </style>
      </form>
      <form
        method  = "POST"
        action  = "{{ url_for(
          'delete_hint'
        )}}"
      >
        <input
          type  = "hidden"
          name  = "hint_id"
          value = "{{hint['hint_id']}}"
        />
        <input
          type  = "hidden"
          name  = "question_id"
          value = "{{question_info['question_id']}}"
        />
        <input
          type  = "hidden"
          name  = "source_point"
          value = "question_template"
        />
        <input
          type  = "hidden"
          name  = "hint_number"
          value = "{{hint['hint_id']}}"
        />
        <button
          type  = "submit"
          class = "registerbtn"
        >
          Delete Hint
        </button>
      </form>
      {% if hints|length > 1 %}
        <form style="display: inline;"
          method  = "POST"
          action  = "{{ url_for(
            'change_hint_order'
          )}}"
        >

          <div
          class = "w3-button"
          >
            <button
              type  = "submit"
              name  = "hint_id"
              value = "{{hint['hint_id']}}"
              class = "registerbtn"
            >
              Change Hint order to:
            </button>
            <input
              type  = "hidden"
              name  = "old_order"
              value = "{{hint['hint_number']}}"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "question_template"
            />
            <input
              type  = "hidden"
              name  = "question_id"
              value = "{{question_info['question_id']}}"
            />
          </div>

          <select
            name  = "new_order"
            id    = "new_order"
          >
            {% for hint_order in (hints[:hint['hint_number']-1]+hints[hint['hint_number']:]) %}
              <option
                value = "{{hint_order['hint_number']}}"
              >
                {{hint_order['hint_number']}}
              </option>
            {% endfor %}
          </select>

        </form>
      {% endif %}

      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
    None
  {% endif %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'add_hint'
      )}}"
    >
      <textarea
        rows          = "2"
        cols          = "20"
        placeholder   = "New Hint"
        name          = "hint_text"
        id            = "hint_text"
        required wrap = "soft"
      ></textarea>
      <br/>
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Add a Hint
      </button>
      <style>
        #hint_text {
          width: 100%;
        }
      </style>
    </form>

  <hr>

  <!-- Media -->

  <h4>
    Media:
  </h4>
  {% if question_media_info %}
    {% for question_media in question_media_info %}
      <p>
        {{question_media['question_media_type']}}: {{question_media['question_media_description']}}
        {{question_media['question_media_url']}}
      </p>
      <form
        method  = "POST"
        action  = "{{ url_for(
          'update_question_media'
        )}}"
      >
        <input
          type        = "text"
          placeholder = "New Media URL"
          name        = "question_media_url"
          id          = "question_media_url"
          pattern     = "[^&quot,']+"
        />
        <br>
        <select
          name  = "question_media_type"
          id    = "question_media_type"
        >
          <option
            value = "audio"
          >
            Audio
          </option>
          <option
            value = "video"
          >
            Video
          </option>
          <option
            value = "image"
          >
            Image
          </option>
        </select>
        <input
          type  = "hidden"
          name  = "question_media_id"
          value = "{{question_media['question_media_id']}}"
        />
        <input
          type  = "hidden"
          name  = "question_id"
          value = "{{question_info['question_id']}}"
        />
        <input
          type  = "hidden"
          name  = "source_point"
          value = "question_template"
        />
        <button
          type  = "submit"
          class = "registerbtn"
        >
          Update Question URL
        </button>
        <style>
          #hint_text {
            width: 100%;
          }
        </style>
      </form>
      <form
        method  = "POST"
        action  = "{{ url_for(
          'delete_question_media'
        )}}"
      >
        <input
          type  = "hidden"
          name  = "question_media_id"
          value = "{{question_media['question_media_id']}}"
        />
        <input
          type  = "hidden"
          name  = "question_id"
          value = "{{question_info['question_id']}}"
        />
        <input
          type  = "hidden"
          name  = "source_point"
          value = "question_template"
        />
        <button
          type  = "submit"
          class = "registerbtn"
        >
          Delete Media
        </button>
      </form>
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
    None
  {% endif %}
    <form
      method  = "POST"
      action  = "{{ url_for(
        'add_question_media'
      )}}"
    >
      <input
        type        = "text"
        placeholder = "New Media URL"
        name        = "question_media_url"
        id          = "question_media_url"
        pattern     = "[^&quot,']+"
      />
      <br>
      <select
        name  = "question_media_type"
        id    = "question_media_type"
      >
        <option
          value = "audio"
        >
          Audio
        </option>
        <option
          value = "video"
        >
          Video
        </option>
        <option
          value = "image"
        >
          Image
        </option>
      </select>
      <input
        type  = "hidden"
        name  = "question_id"
        value = "{{question_info['question_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_template"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Add Media
      </button>
      <style>
        #hint_text {
          width: 100%;
        }
      </style>
    </form>


    <hr>

    <h2>
      Associated Rounds:
    </h2>
    {% if associated_round_info %}
      <h3>
        Number of Associated Rounds: {{question_info['number_of_associated_rounds']}}
      </h3>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
      {% for associated_round in associated_round_info %}
        <h3>
          Round: {{associated_round['round_name']}}
        </h3>
        {% if associated_round['round_description'] %}
        Round Description: {{associated_round['round_description']}}
          <br>
        {% endif %}
        {% if associated_round['quiz_names'] %}
        Number of associated Quizzes: {{associated_round['number_of_associated_quizzes']}}
        <br>
        Associated Quizzes: {{associated_round['quiz_names']}}
          <br>
        {% endif %}
        Question Order: {{associated_round['question_order']}}
        <br>
        <div
          class = "w3-button"
        >
          <form
            method  = "POST"
            action  = "{{ url_for(
              'round_template'
            )}}"
          >
            <button
              type  = "submit"
              name  = "round_id"
              value = "{{associated_round['round_id']}}"
              class = "registerbtn"
            >
              Edit Round
            </button>
          </form>
        </div>
        <div
          class = "w3-button"
        >
          <form
            method  = "POST"
            action  = "{{ url_for(
              'unassociate_question'
            )}}"
          >
            <button
              type  = "submit"
              name  = "round_id"
              value = "{{associated_round['round_id']}}"
              class = "registerbtn"
            >
              Remove from Round
            </button>
            <input
              type  = "hidden"
              name  = "question_id"
              value = "{{question_info['question_id']}}"
            />
            <input
              type  = "hidden"
              name  = "question_order"
              value = "{{associated_round['question_order']}}"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "question_template"
            />
          </form>
        </div>
        <hr style="width:40%; margin: auto; margin-bottom:2em">
      {% endfor %}
    {% else %}
        There are no Rounds associated with this Question
        <hr style="width:40%; margin: auto; margin-bottom:2em">

    {% endif %}

  <h2>
    Unassociated Rounds:
  </h2>
  {% if unassociated_round_info %}
    {% for unassociated_round in unassociated_round_info %}
      <h3>
        {{unassociated_round['round_name']}}
      </h3>
      {% if unassociated_round['round_description'] %}
      Round Description: {{unassociated_round['round_description']}}
        <br>
      {% endif %}
      {% if unassociated_round['quiz_names'] %}
      Associated Quizzes: {{unassociated_round['quiz_names']}}
        <br>
      {% endif %}      
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'associate_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "round_id"
            value = "{{unassociated_round['round_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "question_template"
          />
          <input
            type  = "hidden"
            name  = "question_id"
            value = "{{question_info['question_id']}}"
          />
          <button
            type  = "submit"
            name  = "question_id"
            value = "{{question_info['question_id']}}"
            class = "registerbtn"
          >
            Add to Round
          </button>
        </form>
      </div>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Rounds to be added to
      <br><br>
  {% endif %}

  <form
    method  = "POST"
    action  = "{{ url_for(
      'round_maker'
    )}}"
    >
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Create a new Round
    </button>
  </form>

  <hr>

  <!-- Delete Question  -->
  <form
    method  = "POST"
    action  = "{{ url_for(
      'delete_question'
    )}}"
  >
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_template"
    />
    <input
      type  = "hidden"
      name  = "question_id"
      value = "{{question_info['question_id']}}"
    />
    <input
      type  = "hidden"
      name  = "round_id"
      value = "{{question_info['round_id']}}"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Delete Question
    </button>
  </form>

  <hr>
  <h4>To do:</h4>
  <ul>
      <li>Allow special characters in the question tag etc.</li>
      <li>Add media backend to upload content to S3</li>
      <li>Make double buttons next to each other</li>
      <li>Maybe have it that you can't associate to a Round without every field completed</li>
      <li>Maybe add path to previous pages at the top</li>
      <li>Add round info to unassociated Rounds</li>
      <li>Add information about Rounds (e.g. number of questions, mode category)</li>
  </ul>

  <!-- End page content -->
{%endblock%}