{%block footer%}
    <!-- W3.CSS Container -->
    <div
        class   = "w3-light-grey w3-container w3-padding-32"
        style   = "margin-top:75px;padding-right:58px"
    >
        <p
            class = "w3-right"
        >
            Powered by <a
                href    = "https://www.w3schools.com/w3css/default.asp"
                title   = "W3.CSS"
                target  = "_blank"
                class   = "w3-hover-opacity"
            >
                w3.css
            </a>
            and hosted on
            <a
                href    = "https://aws.amazon.com/"
                title   = "AWS"
                target  = "_blank"
                class   = "w3-hover-opacity"
            >
                AWS
            </a>
            
        </p>
    </div>
{%endblock%} 