{%extends 'layouts/layout.html'%}

{%block body%}

  <div
    class = "w3-row-padding w3-grayscale"
  >
    <div
      class = "w3-col m4 w3-margin-bottom"
    >
      <div
        class = "w3-light-grey"
      >
        <img
          src   = "https://i.ytimg.com/vi/vbMQfaG6lo8/maxresdefault.jpg"
          alt   = "Tom"
          style = "width:100%"
        />
        <div
          class = "w3-container"
        >
          <p
            class = "w3-opacity"
          >
            Image irrelevant
          </p>
          <h3>
            V1.0.0
          </h3>
          <p>
            The release version.
            We have a functional Quiz site
          </p>
          <h3>
            V1.0.1
          </h3>
          <p>
            Added results page
          </p>              
        </div>
      </div>
    </div>

    <div
      class = "w3-col m4 w3-margin-bottom"
    >
      <div
        class = "w3-light-grey"
      >
        <div
          class = "w3-container"
        >
          <h3>
            V2.0.0
          </h3>
          <p>
            Bug fix, where a registered user could use URL injection to submit answers as any user for any question.
          </p>             
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h4>To do:</h4>
  <ul>
      <li>Nothing</li>
  </ul>

{%endblock%}