{%extends 'layouts/layout.html'%}

{%block body%}
    <h4>To do:</h4>
    <ul>
        <li>Modulise app.py</li>
        <li>Add different styles instead of hard coding css into the html pages</li>
        <li>Add a host to the quiz database so that they can view the results</li>
        <li>Re-engineer the pages so that it uses common_values similar to the "all_results" page, to put less stress on the browser</li>
        <li>Create a weighting for user xp, depending on number of participants and overall difficulty of questions</li>
        <li>Add paths at the top of the pages e.g. Quiz -> Quiz_maker -> Quiz Template each a url</li>
        <li>Have a notification if a round or question are added multiple times into a quiz</li>
        <li>Can currently only have one Quiz active at a time</li>
        <li>Percentage bar only works with one quiz every played. Need to reprogram the live database to have quiz, round and question all link</li>
        <li>Add anchors to the webpages</li>
        <li>When no associated rounds or questions, the quiz goes weird</li>
        <li>Some functions are hard coded, or modified e.g. common_values_2</li>
        <li>Lock in answers function is messy</li>
        <li>Add source point to all functions and forms</li>
        <li>Hints used in app.py to move strain from freontend to backend</li>
        <li>Maybe add if messages[1] == 'login' Go to href = url_for(loggin)login page. endif to messages</li>
    </ul>
{%endblock%}