{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

    <!-- Displays any messages to the use -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div
          class = "w3-container w3-red"
        >
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

<hr>
<!-- Quiz Information -->  
    <h2> Quiz Info:</h2>
    <h3>
      Quiz: {{quiz_info['quiz_name']}} {% if quiz_info['quiz_completed'] %}<b style='color:red;'>Completed</b>{% elif quiz_info['quiz_active'] %}<b style='color:green;'>Active</b>{% endif %}
    </h3>
    {{quiz_info['quiz_description']}}
    <br>
    Number of Rounds: {{quiz_info['number_of_associated_rounds']}}
    <br>
    Number of Questions: {{quiz_info['number_of_associated_questions']}}
    <br>
    Most common Question category: {{quiz_info['mode_question_category']}}
    <br>
    Average Question Difficulty: {{quiz_info['average_question_difficulty']}}/10
    <br>
    Total points in this Quiz: {{quiz_info['total_points']}}
    {% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'complete_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          class = "registerbtn"
          value = "{{quiz_info['quiz_id']}}"
        >
          Finish Quiz {{quiz_info['quiz_name']}}
        </button>
      </form>
    {% endif %}
    <hr>

  <!-- Round Information -->  
    <h2> Round Info:</h2>
    {% if associated_round_info %}
      {% for associated_round in associated_round_info %}
        <h3>
          Round {{associated_round['round_order']}}: {{associated_round['round_name']}} {% if associated_round['round_completed'] %}<b style='color:red;'>Completed</b>{% elif associated_round['round_active'] %}<b style='color:green;'>Active</b>{% endif %}
        </h3>
        {% if associated_round['round_description'] %}
          {{associated_round['round_description']}}
          <br>
        {% endif %}
        {% if associated_round['number_of_associated_questions'] %}
          Number of Questions: {{associated_round['number_of_associated_questions']}}
          <br>
        {% endif %}
        {% if associated_round['mode_question_category'] %}
          Category Type: {{associated_round['mode_question_category']}}
          <br>
        {% endif %}
        {% if associated_round['average_question_difficulty'] %}
          Round Difficulty: {{associated_round['average_question_difficulty']}}/10
          <br>
        {% endif %}
        {% if associated_round['total_points'] and associated_round['round_completed'] %}
          Total number of Points in round: {{associated_round['total_points']}}
        {% endif %}
        {% if associated_round['next_round'] %}
          <form
            method  = "POST"
            id      = "form"
            action  = "{{ url_for(
              'start_round'
            )}}"
          >
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
            <button
              type  = "submit"
              name  = "round_id"
              class = "registerbtn"
              value = "{{associated_round['round_id']}}"
            >
              Start Round {{associated_round['round_order']}}
            </button>
          </form>
        {% elif quiz_info['round_end'] and associated_round['round_active'] %}
          <form
            method  = "POST"
            id      = "form"
            action  = "{{ url_for(
              'host_live_quiz'
            )}}"
          >
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
            <button
              type  = "submit"
              name  = "round_id"
              class = "registerbtn"
              value = "{{associated_round['round_id']}}"
            >
              Lock in Answers
            </button>
          </form>
        {% endif %}
        {% if loop.last %}
        {% else %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
      {% endfor %}
    {% endif %}

<hr>

<!-- Question Information -->  
  <h2> Question Info:</h2>
  {% if round_questions %}
    {% for question in round_questions %}
      <h3>
        Question {{question['question_order']}}: {{question['question_tag']}} {% if question['question_completed'] %}<b style='color:red;'>Completed</b>{% elif question['question_active'] %}<b style='color:green;'>Active</b>{% endif %}
      </h3>
      {% if question['question_category'] %}
        Category Type: {{question['question_category']}}
        <br>
      {% endif %}
      {% if question['question_difficulty'] %}
        Question Difficulty: {{question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if question['question_points'] and question['question_completed'] %}
        Total number of Points in question: {{question['question_points']}}
      {% endif %}
      {% if question['next_question'] %}
        <form
          method  = "POST"
          id      = "form"
          action  = "{{ url_for(
            'start_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "question_id"
            class = "registerbtn"
            value = "{{question['question_id']}}"
          >
            Start Question {{question['question_order']}}
          </button>
        </form>
      {% elif question['question_active'] %}
        <form
          method  = "POST"
          id      = "form"
          action  = "{{ url_for(
            'complete_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "question_id"
            class = "registerbtn"
            value = "{{active_question['question_id']}}"
          >
            Finish Question {{active_question['question_order']}}
          </button>
        </form>
      {% endif %}
        <table
          class = "w3-table"
        >
          {% if answers %}
            <tr>
              <th>
                Name
              </th>
              <th>
                Answer
              </th>
              <th>
                Correct
              </th>
              <th>
                Hints Used
              </th>
              <th>
                Timestamp
              </th>
            </tr>
            {% for answer in answers %}
              {% if answer['question_id']==question['question_id'] %}
                <tr>
                    <td>
                      {{answer['username']}}
                    </td>
                    <td>
                      {{answer['answer_text']}}
                    </td>
                    <td>
                      {% if quiz_info['round_end'] %}
                        <input
                          type  = "radio"
                          form  = "complete_round"
                          id    = "{{answer['user_id']}}-{{question['question_id']}}1"
                          name  = "{{answer['user_id']}}-{{question['question_id']}}"
                          value = "1"
                          required
                        />
                        <label
                          for = "{{answer['user_id']}}-{{question['question_id']}}1"
                        >
                          Correct
                        </label> |
                        <input
                          type  = "radio"
                          form  = "complete_round"
                          id    = "{{answer['user_id']}}-{{question['question_id']}}0"
                          name  = "{{answer['user_id']}}-{{question['question_id']}}"
                          value = "0"
                          required
                        />
                        <label
                          for = "{{answer['user_id']}}-{{question['question_id']}}0"
                        >
                          Wrong
                        </label>
                      {% else %}
                      {{answer['answer_correct']}}
                      {% endif %}
                    </td>
                    <td>
                      {{answer['hints_used']}}
                    </td>
                    <td>
                      {{answer['answer_timestamp']}}
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>
              No one has answered this Question
            </p>
          {% endif %}
        </table>
      </form>
        {% if not loop.last %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
    {% endfor %}
  {% else %}
    There are no active Rounds
  {% endif %}
  {% for associated_round in associated_round_info %}
    {% if quiz_info['round_end'] and associated_round['round_active'] %}
      <form
        method = "POST"
        id     = "complete_round"
        action = "{{ url_for(
          'complete_round'
        )}}"
      >
      <input
        type  = "hidden"
        name  = "quiz_id"
        value = "{{quiz_info['quiz_id']}}"
      />
      <button
        type  = "submit"
        name  = "round_id"
        class = "registerbtn"
        value = "{{associated_round['round_id']}}"
      >
        Finish Round {{associated_round['round_order']}} and Mark Answers
      </button>
    {% endif %}
  {% endfor %}
  <hr>

    <!-- Participant Information -->
    {% if quiz_info['quiz_active'] != 1 and quiz_info['quiz_completed'] is none %}
      <h3> Participant Info:</h3>
      <table
        class = "w3-table"
      >
        {% if participant_info %}
          <tr>
            <th>
              Name
            </th>
            <th>
              Ready?
            </th>
          </tr>
          {% for participant in participant_info %}
          <tr>
              <td>
                {{participant['username']}}
              </td>
            {% if participant['participant_ready'] == 1 %}
              <td>
                Yes
              </td>
            {% else %}
              <td>
                No
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        {% else %}
          <p>
            You have not entered any participants in this Quiz
          </p>
        {% endif %}
      </table>
      {% if quiz_info['quiz_ready'] %}
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'start_quiz'
          )}}"
        >
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Start Quiz {{quiz_info['quiz_name']}}
          </button>
        </form>
      {% else %}
        <form
          method = "POST"
          id     = "form"
          action = "{{ url_for(
            'host_live_quiz'
          )}}"
        >
          <button
            type  = "submit"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
            class = "registerbtn"
          >
            Check if everyone is ready
          </button>
        </form>
      {% endif %}
      <hr>
    {% endif %}

    {% if quiz_info['quiz_completed'] is not none %}
      <form
        method = "POST"
        id     = "form"
        action = "{{ url_for(
          'results'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          View Results from {{quiz_info['quiz_name']}}
        </button>
      </form>
      <hr>
    {% endif %}

  <!-- The Question -->
  {% if active_question %}
    <h2>
      Question {{active_question['question_order']}}: {{active_question['question_tag']}}
    </h2>
    <h4>
      {{active_question['question_text']}}
    </h4>
    <h5>
      Correct Answer: {{active_question['question_correct_answer']}}
    </h5>
      <p>
        Scoring Type: {{active_question['question_scoring_type']}}
        <br>
        Points: {{active_question['question_points']}}
      <p>
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'complete_question'
        )}}"
      >
        <input
          type  = "hidden"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
        />
        <button
          type  = "submit"
          name  = "question_id"
          class = "registerbtn"
          value = "{{active_question['question_id']}}"
        >
          Finish Question {{active_question['question_order']}}
        </button>
      </form>
      <hr>
    {% endif %}

    {{answers}}

  <!-- End page content -->
  <h4>To do:</h4>
  <ul>
      <li>When quiz has finished show all questions and answers</li>
      <li>Add Quiz and Round progress bar</li>
      <li>Add refresh page/latest question button</li>
      <li>Show list of participants and their scores</li>
      <li>Add question info to list, maybe remove active question info</li>
      <li>Add lock in answers function</li>
      <li>End of round updates the participant score table</li>
      <li>Add feature to give adhoc points to participants</li>
  </ul>
{%endblock%}