{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


  {% if quiz_info['quiz_completed'] is none %}
    <form
      method  = "POST"
      id      = "form"
      action  = "{{ url_for(
        'host_live_quiz'
      )}}"
    >
      <button
        type  = "submit"
        name  = "quiz_id"
        class = "registerbtn"
        value = "{{quiz_info['quiz_id']}}"
      >
        Refresh Page
      </button>
    </form>

    <hr>

  {% endif %}

<!-- Quiz Information -->  
    <h2> Quiz Info:</h2>
    <h3>
      Quiz: {{quiz_info['quiz_name']}} {% if quiz_info['quiz_completed'] %}<b style='color:red;'>Completed</b>{% elif quiz_info['quiz_active'] %}<b style='color:green;'>Active</b>{% endif %}
    </h3>
    <div style="white-space: pre-wrap;">{{quiz_info['quiz_description']}}</div>
    <div class="w3-section w3-light-grey">
      <div class="w3-container w3-padding-small w3-red w3-center" style="width:{{quiz_info['percentage_completed']}}%">{{quiz_info['percentage_completed']}}%</div>
    </div>
    Number of Rounds: {{quiz_info['number_of_associated_rounds']}}
    <br>
    Number of Questions: {{quiz_info['number_of_associated_questions']}}
    <br>
    Questions Completed: {{quiz_info['completed_questions']}}
    <br>
    Most common Question category: {{quiz_info['mode_question_category']}}
    <br>
    Average Question Difficulty: {{quiz_info['average_question_difficulty']}}/10
    <br>
    Total points in this Quiz: {{quiz_info['total_points']}}
    {% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}
      <form
        method  = "POST"
        id      = "form"
        action  = "{{ url_for(
          'complete_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          class = "registerbtn"
          value = "{{quiz_info['quiz_id']}}"
        >
          Finish Quiz {{quiz_info['quiz_name']}}
        </button>
      </form>
    {% endif %}
    <hr>

  <!-- Round Information -->  
    <h2> Round Info:</h2>
    {% if associated_round_info %}
      {% for associated_round in associated_round_info %}
        <h3>
          Round {{associated_round['round_order']}}: {{associated_round['round_name']}} {% if associated_round['round_completed'] %}<b style='color:red;'>Completed</b>{% elif associated_round['round_active'] %}<b style='color:green;'>Active</b>{% endif %}
        </h3>
        {% if associated_round['round_description'] %}
        <div style="white-space: pre-wrap;">{{associated_round['round_description']}}</div>
        {% endif %}
        <div class="w3-section w3-light-grey">
          <div class="w3-container w3-padding-small w3-red w3-center" style="width:{{associated_round['percentage_complete']}}%">{{associated_round['percentage_complete']}}%</div>
        </div>
        {% if associated_round['number_of_associated_questions'] %}
          Number of Questions: {{associated_round['number_of_associated_questions']}}
          <br>
          Questions Completed:  {{associated_round['completed_questions']}}
          <br>
        {% endif %}
        {% if associated_round['mode_question_category'] %}
          Category Type: {{associated_round['mode_question_category']}}
          <br>
        {% endif %}
        {% if associated_round['average_question_difficulty'] %}
          Round Difficulty: {{associated_round['average_question_difficulty']}}/10
          <br>
        {% endif %}
        {% if associated_round['total_points'] and associated_round['round_completed'] %}
          Total number of Points in round: {{associated_round['total_points']}}
        {% endif %}
        {% if associated_round['next_round'] %}
          <form
            method  = "POST"
            id      = "form"
            action  = "{{ url_for(
              'start_round'
            )}}"
          >
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
            <button
              type  = "submit"
              name  = "round_id"
              class = "registerbtn"
              value = "{{associated_round['round_id']}}"
            >
              Start Round {{associated_round['round_order']}}
            </button>
          </form>
        {% elif quiz_info['round_end'] and associated_round['round_active'] and not associated_round['lock_answers'] %}
          <form
            method  = "POST"
            id      = "form"
            action  = "{{ url_for(
              'lock_answers'
            )}}"
          >
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "host_live_quiz"
            />
            <button
              type  = "submit"
              name  = "round_id"
              class = "registerbtn"
              value = "{{associated_round['round_id']}}"
            >
              Lock in Answers
            </button>
          </form>
        {% endif %}
        {% if loop.last %}
        {% else %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
      {% endfor %}
    {% endif %}

<hr>

<!-- Question Information -->  
  <h2>{% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}All {% endif %}Question Info:</h2>
  {% if round_questions %}
    {% for question in round_questions %}
      <h3>
        {% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}
            Round {{question['round_order']}} <br>
        {% endif %}
        Question {{question['question_order']}}: {{question['question_tag']}} {% if question['question_completed'] %}<b style='color:red;'>Completed</b>{% elif question['question_active'] %}<b style='color:green;'>Active</b>{% endif %}
      </h3>
      {% if question['question_completed'] or question['question_active'] or question['next_question'] %}
        <div style="white-space: pre-wrap;"><h4>{{question['question_text']}}</h4></div>
        <h5>
          Correct Answer: <div style="white-space: pre-wrap;">{{question['question_correct_answer']}}</div>
        </h5>
      {% endif %}
      {% if question['question_category'] %}
        Category Type: {{question['question_category']}}
        <br>
      {% endif %}
      {% if question['question_scoring_type_name'] %}
        Scoring Type: {{question['question_scoring_type_name']}}
        <br>
      {% endif %}
      {% if question['question_points'] %}
        Points: {{question['question_points']}}
        <br>
      {% endif %}
      {% if question['question_difficulty'] %}
        Question Difficulty: {{question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if question['question_points'] and question['question_completed'] %}
        Total number of Points in question: {{question['question_points']}}
      {% endif %}
      {% if question['next_question'] %}
        <form
          method  = "POST"
          id      = "form"
          action  = "{{ url_for(
            'start_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "question_id"
            class = "registerbtn"
            value = "{{question['question_id']}}"
          >
            Start Question {{question['question_order']}}
          </button>
        </form>
      {% elif question['question_active'] %}
        <form
          method  = "POST"
          id      = "form"
          action  = "{{ url_for(
            'complete_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "question_id"
            class = "registerbtn"
            value = "{{question['question_id']}}"
          >
            Finish Question {{question['question_order']}}
          </button>
        </form>
      {% endif %}
      <table
        class = "w3-table"
      >
        {% if answers %}
          <tr>
            <th>
              Name
            </th>
            <th>
              Answer
            </th>
            <th>
              Correct
            </th>
            {% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}
              <th>
                Points Earned
              </th>
            {% endif %}
            <th>
              Hints Used
            </th>
            <th>
              Timestamp
            </th>
          </tr>
          {% for answer in answers %}
            {% if answer['question_id']==question['question_id'] %}
              <tr>
                  <td>
                    {{answer['username']}}
                  </td>
                  <td>
                    <div style="white-space: pre-wrap;">{{answer['answer_text']}}</div>
                  </td>
                  <td>
                    {% if quiz_info['round_end'] and quiz_info['lock_answers'] %}
                      <input
                        type  = "radio"
                        form  = "complete_round"
                        id    = "{{answer['user_id']}}-{{question['question_id']}}1"
                        name  = "{{answer['user_id']}}-{{question['question_id']}}"
                        value = "1"
                        required
                      />
                      <label
                        for = "{{answer['user_id']}}-{{question['question_id']}}1"
                      >
                        Correct
                      </label> |
                      <input
                        type  = "radio"
                        form  = "complete_round"
                        id    = "{{answer['user_id']}}-{{question['question_id']}}0"
                        name  = "{{answer['user_id']}}-{{question['question_id']}}"
                        value = "0"
                        required
                      />
                      <label
                        for = "{{answer['user_id']}}-{{question['question_id']}}0"
                      >
                        Wrong
                      </label>
                    {% elif answer['answer_correct'] == 1 %}
                      Yes
                    {% elif answer['answer_correct'] == 0 %}
                      No
                    {% else %}
                      {{answer['answer_correct']}}
                    {% endif %}
                  </td>
                  {% if quiz_info['quiz_end'] and quiz_info['quiz_completed'] is none %}
                    <td>
                      {{answer['answer_points']}}
                    </td>
                  {% endif %}
                  <td>
                    {{answer['hints_used']}}
                  </td>
                  <td>
                    {{answer['answer_timestamp']}}
                  </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>
            No one has answered this Question
          </p>
        {% endif %}
      </table>
      {% if not loop.last %}
        <hr style="width:40%; margin: auto; margin-bottom:2em">
      {% endif %}
    {% endfor %}
  {% else %}
    There are no active Rounds
  {% endif %}
  {% for associated_round in associated_round_info %}
    {% if quiz_info['round_end'] and associated_round['round_active'] and associated_round['lock_answers'] %}
      <form
        method = "POST"
        id     = "complete_round"
        action = "{{ url_for(
          'complete_round'
        )}}"
      >
        <input
          type  = "hidden"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
        />
        <button
          type  = "submit"
          name  = "round_id"
          class = "registerbtn"
          value = "{{associated_round['round_id']}}"
        >
          Finish Round {{associated_round['round_order']}} and Mark Answers
        </button>
      </form>
    {% endif %}
  {% endfor %}
  <hr>

  <!-- Participant Information to start Quiz -->
  {% if quiz_info['quiz_active'] != 1 and quiz_info['quiz_completed'] is none %}
    <h3> Participant Info:</h3>
    <table
      class = "w3-table"
    >
      {% if participant_info %}
        <tr>
          <th>
            Name
          </th>
          <th>
            Ready?
          </th>
        </tr>
        {% for participant in participant_info %}
        <tr>
            <td>
              {{participant['username']}}
            </td>
          {% if participant['participant_ready'] == 1 %}
            <td>
              Yes
            </td>
          {% else %}
            <td>
              No
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      {% else %}
        <p>
          You have not entered any participants in this Quiz
        </p>
      {% endif %}
    </table>
    {% if quiz_info['quiz_ready'] and participant_info %}
      <form
        method = "POST"
        id     = "form"
        action = "{{ url_for(
          'start_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          Start Quiz {{quiz_info['quiz_name']}}
        </button>
      </form>
    {% elif not participant_info %}
      <form
        method = "POST"
        id     = "form"
        action = "{{ url_for(
          'quiz_template'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          Edit Quiz {{quiz_info['quiz_name']}}
        </button>
      </form>
    {% else %}
      <form
        method = "POST"
        id     = "form"
        action = "{{ url_for(
          'host_live_quiz'
        )}}"
      >
        <button
          type  = "submit"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          Check if everyone is ready
        </button>
      </form>
    {% endif %}
    <hr>
  {% endif %}

  {% if quiz_info['quiz_completed'] is not none %}
    <form
      method = "POST"
      id     = "form"
      action = "{{ url_for(
        'results'
      )}}"
    >
      <button
        type  = "submit"
        name  = "quiz_id"
        value = "{{quiz_info['quiz_id']}}"
        class = "registerbtn"
      >
        View Results from {{quiz_info['quiz_name']}}
      </button>
    </form>
    <hr>
  {% endif %}

  <!-- Leader Board -->
  {% if quiz_info['quiz_active'] == 1 or quiz_info['quiz_completed'] == 1 %}
  <h3> Leaderboard:</h3>
  <form
  method  = "POST"
  action  = "{{ url_for(
    'score'
  )}}"
>
  <table
    class = "w3-table"
  >
    {% if participant_info %}
      <tr>
        <th>
          Position
        </th>
        <th>
          Name
        </th>
        <th>
          Score
        </th>
        <th>
          Item
        </th>
        <th>
          Adhoc Points
        </th>
      </tr>
      {% for participant in participant_info %}
      <tr>
          <td>
            {{participant['participant_position']}}
          </td>
          <td>
            {{participant['username']}}
          </td>
          <td>
            {{participant['participant_score']}}
          </td>
          <td>
            {% if participant['item_name'] %}
              {{participant['item_name']}}
            {% else %}
              None
            {% endif %}
          </td>
          <td>
            <input
              type        = "number"
              placeholder = "Points"
              name        = "points"
              id          = "points"
              required
              maxlength   = "3"
              step        = "1"
              value       = "0"
            />
            <br/>
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
            <input
              type  = "hidden"
              name  = "user_id"
              value = "{{participant['user_id']}}"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "host_live_quiz"
            />
          </td>
      </tr>
      {% endfor %}
    {% else %}
      <p>
        You have not entered any participants in this Quiz
      </p>
    {% endif %}
  </table>
  <button
  type  = "submit"
  class = "registerbtn"
>
  Update Leaderboard
</button>
</form>
  <hr>
  {% endif %}

  <!-- End page content -->
  <h4>To do:</h4>
  <ul>
      <li>Add pictures</li>
      <li>Multi line</li>
  </ul>

  <hr>

  {% if quiz_info['quiz_completed'] is none %}
    <form
      method  = "POST"
      id      = "form"
      action  = "{{ url_for(
        'host_live_quiz'
      )}}"
    >
      <button
        type  = "submit"
        name  = "quiz_id"
        class = "registerbtn"
        value = "{{quiz_info['quiz_id']}}"
      >
        Refresh Page
      </button>
    </form>

    <hr>

  {% endif %}

{%endblock%}