{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  <hr/>

  {% if upcoming_quiz_info|length > 0 %}
    <h2>
      Host a new Quiz:
    </h2>
    {% for upcoming_quiz in upcoming_quiz_info %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'host_live_quiz'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{upcoming_quiz['quiz_id']}}"
          />
          <button
            type    = "submit"
            class   = "registerbtn"
          >
            {{upcoming_quiz["quiz_name"]}}
          </button>
        </form>
      </div>
    {% endfor %}
  {% else %}
    <p>
      There are currently no upcoming Quizzes with associated Rounds or Questions.
    </p>
    {% if unassociated_quiz_info %}
      <h3>
        Edit a Quiz:
      </h3>
      {% for unassociated_quiz in unassociated_quiz_info %}
        <form
          method  = "POST"
          action  = "{{ url_for(
            'quiz_template'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{unassociated_quiz['quiz_id']}}"
          />
          <button
            type  = "submit"
            class = "registerbtn"
          >
            Edit Quiz: {{unassociated_quiz['quiz_name']}}
          </button>
        </form>
        {% if loop.last %}
        {% else %}
          <hr style="width:40%; margin: auto; margin-bottom:2em">
        {% endif %}
      {% endfor %}
      <hr>
    {% endif %}
    <h3>
      Create a New Quiz:
    </h3>
    <form
      method  = "POST"
      action  = "{{ url_for(
        'create_quiz'
      )}}"
    >
      <input
        type                = "text"
        placeholder         = "Quiz name"
        name                = "quiz_name"
        required maxlength  = "50"
      />
      <button
        type  = "submit"
        class = "registerbtn"
      >
        Create Quiz
      </button>
    </form>
    <hr>
  {%endif %}


  {% if active_quiz_info|length > 0 %}
    <h2>
      Continue Hosting an active Quiz:
    </h2>
    {% for active_quiz in active_quiz_info %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'host_live_quiz'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{active_quiz['quiz_id']}}"
          />
          <button
            type    = "submit"
            class   = "registerbtn"
          >
            {{active_quiz["quiz_name"]}}
          </button>
        </form>
      </div>
    {% endfor %}
  {% endif %}
  {% if completed_quiz_info|length > 0 %}
    <h2>
      Completed Quizzes:
    </h2>
    {% for completed_quiz in completed_quiz_info %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'host_live_quiz'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{completed_quiz['quiz_id']}}"
          />
          <button
            type    = "submit"
            class   = "registerbtn"
          >
            {{completed_quiz["quiz_name"]}}
          </button>
        </form>
      </div>
    {% endfor %}
    <hr>
  {% endif %}

  
  <h4>To do:</h4>
  <ul>
      <li>List information about the Quiz</li>
  </ul>

{%endblock%}