{%extends 'layouts/layout.html'%}

{%block body%}

  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div 
          class = "w3-container w3-red"
        >
          {{ messages[0] }}
        </div>
    {% endif %}
  {% endwith %}

<!-- Tells user what Quiz the round is in, and gives them ability to go back to edit Quiz -->
  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'round_maker'
    )}}"
  >
    <a
      onclick = "document.getElementById('form').submit(); return false;"
    >
      <h2 style="color: #000000; cursor: pointer;">
        Go back 
      </h2>
    </a>
  </form>

  <hr>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_round_name'
    )}}"
  >
    <h3>
      Round {{round_info['round_order']}}: {{round_info['round_name']}}
    </h3>
    <input
      type                = "text"
      placeholder         = "New Round name"
      name                = "new_round_name"
      id                  = "new_round_name"
      required maxlength  = "50"
      pattern             = "[^&quot,']+"
    />
    <input
    type  = "hidden"
    name  = "round_id"
    value = "{{round_info['round_id']}}"
    />
    <input
    type  = "hidden"
    name  = "source_point"
    value = "round_template"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Round name
    </button>
  </form>

  <hr>
  <h3>
    Round Description:
  </h3>
  <p>
    {{round_info['round_description']}}
  </p>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_round_description'
    )}}"
  >
    <textarea
      rows          = "2"
      cols          = "20"
      placeholder   = "New Round description"
      name          = "new_round_description"
      id            = "new_round_description"
      required wrap = "soft"
    ></textarea>

    <input
      type  = "hidden"
      name  = "round_id"
      value = "{{round_info['round_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "round_template"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Round description
    </button>
    <style>
      #new_round_description {
        width: 100%;
      }
    </style>
  </form>

  {% if associated_question_info %}
    <hr>

    <h2>
      Round Info:
    </h2>
    Average Question Difficulty: {{round_info['average_question_difficulty']}}/10
    <br>
    Most common category: {{round_info['mode_question_category']}}
    <br>
    Total points in this Round: {{round_info['total_points']}}
    <br>
    Number of associated Quizzes: {{round_info['number_of_associated_quizzes']}}
    <br>
    Number of associated Questions: {{round_info['number_of_associated_questions']}}
  {% endif %}

  <hr>

  <h2>
    Associated Quizzes:
  </h2>
  {% if associated_quiz_info %}
    {% for associated_quiz in associated_quiz_info %}
      <h3>
        {{associated_quiz["quiz_name"]}}
      </h3>
      {% if associated_quiz['quiz_description'] %}
        Quiz Description: {{associated_quiz['quiz_description']}}
        <br>
      {% endif %}
      {% if associated_quiz['associated_rounds'] %}
        Number of associated Rounds: {{associated_quiz['number_of_associated_rounds']}}
        <br>
        Associated Rounds: {{associated_quiz['associated_rounds']}}
        <br>
      {% endif %}
      {% if associated_quiz['number_of_associated_questions'] %}
        Number of associated Questions: {{associated_quiz['number_of_associated_questions']}}
        <br>
        Associated Questions: {{associated_quiz['associated_questions']}}
        <br>
      {% endif %}
      {% if associated_quiz['average_difficulty'] %}
      Average difficulty: {{associated_quiz['average_difficulty']}}
      <br>
      {% endif %}
      {% if associated_quiz['mode_category'] %}
      Mode Category: {{associated_quiz['mode_category']}}
      <br>
      {% endif %}
      {% if associated_quiz['total_points'] %}
      Total Points: {{associated_quiz['total_points']}}
      <br>
      {% endif %}
      {% if associated_quiz['quiz_completed'] %}
        This Quiz has been played
        <br>
      {% elif associated_quiz['quiz_active'] %}
        This Quiz is in progress
        <br>
      {% else %}
        This Quiz hasn't been played
        <br>
      {% endif %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'unassociate_round'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{associated_quiz['quiz_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "round_template"
          />
          <input
            type  = "hidden"
            name  = "round_name"
            value = "{{round_info['round_name']}}"
          />
          <input
            type  = "hidden"
            name  = "round_order"
            value = "{{associated_quiz['round_order']}}"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round_info['round_id']}}"
            class = "registerbtn"
          >
            Remove from Quiz
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'quiz_template'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{associated_quiz['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{associated_quiz['quiz_id']}}"
            class = "registerbtn"
          >
            Edit Quiz
          </button>
        </form>
      </div>

      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Rounds associated with this Quiz
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endif %}

  <h2>
    Add this Round to a Quiz:
  </h2>
  {% if unassociated_quiz_info %}
    {% for unassociated_quiz in unassociated_quiz_info %}
      <h3>
        {{unassociated_quiz["quiz_name"]}}
      </h3>
      {% if unassociated_quiz['quiz_description'] %}
        Quiz Description: {{unassociated_quiz['quiz_description']}}
        <br>
      {% endif %}
      {% if unassociated_quiz['associated_rounds'] %}
        Number of associated Rounds: {{unassociated_quiz['number_of_associated_rounds']}}
        <br>
        Associated Rounds: {{unassociated_quiz['associated_rounds']}}
        <br>
      {% endif %}
      {% if unassociated_quiz['number_of_associated_questions'] %}
        Number of associated Questions: {{unassociated_quiz['number_of_associated_questions']}}
        <br>
        Associated Questions: {{unassociated_quiz['associated_questions']}}
        <br>
      {% endif %}
      {% if unassociated_quiz['average_difficulty'] %}
      Average difficulty: {{unassociated_quiz['average_difficulty']}}
      <br>
      {% endif %}
      {% if unassociated_quiz['mode_category'] %}
      Mode Category: {{unassociated_quiz['mode_category']}}
      <br>
      {% endif %}
      {% if unassociated_quiz['total_points'] %}
      Total Points: {{unassociated_quiz['total_points']}}
      <br>
      {% endif %}
      {% if unassociated_quiz['quiz_completed'] %}
        This Quiz has been played
        <br>
      {% elif unassociated_quiz['quiz_active'] %}
        This Quiz is in progress
        <br>
      {% else %}
        This Quiz hasn't been played
        <br>
      {% endif %}
      <div
      class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'associate_round'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{unassociated_quiz['quiz_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "round_template"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round_info['round_id']}}"
            class = "registerbtn"
          >
            Add to Quiz
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'quiz_template'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{unassociated_quiz['quiz_id']}}"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{unassociated_quiz['quiz_id']}}"
            class = "registerbtn"
          >
            Edit Quiz
          </button>
        </form>
      </div>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Quizzes to add to
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endif %}

  <form
    method  = "POST"
    action  = "{{ url_for(
      'quiz_maker'
    )}}"
  >
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Create a new Quiz
    </button>
  </form>

  <hr>

  <h2>
    Associated Questions:
  </h2>
  {% if associated_question_info %}
    {% for associated_question in associated_question_info %}
      <h3>
        Question {{associated_question['question_order']}}: {{associated_question['question_tag']}}
      </h3>
      {% if associated_question['number_of_associated_rounds'] %}
        Number of associated Rounds: {{associated_question['number_of_associated_rounds']}}
        <br>
      {% endif %}
      {% if associated_question['associated_rounds'] %}
        Associated Rounds: {{associated_question['associated_rounds']}}
        <br>
      {% endif %}
      {% if associated_question['question_category'] %}
        Category: {{associated_question['question_category']}}
        <br>
      {% endif %}
      {% if associated_question['question_difficulty'] %}
        Difficulty: {{associated_question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if associated_question['question_points'] %}
        Points: {{associated_question['question_points']}}
        <br>
      {% endif %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'unassociate_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "question_id"
            value = "{{associated_question['question_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "round_template"
          />
          <input
            type  = "hidden"
            name  = "question_order"
            value = "{{associated_question['question_order']}}"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round_info['round_id']}}"
            class = "registerbtn"
          >
            Remove from Round
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'question_template'
          )}}"
        >
          <button
            type  = "submit"
            name  = "question_id"
            value = "{{associated_question['question_id']}}"
            class = "registerbtn"
          >
            Edit Question
          </button>
        </form>
      </div>
      {% if associated_question_info|length > 1 %}
        <form style="display: inline;"
          method  = "POST"
          action  = "{{ url_for(
            'change_question_order'
          )}}"
        >

          <div
          class = "w3-button"
          >
            <button
              type  = "submit"
              name  = "question_id"
              value = "{{associated_question['question_id']}}"
              class = "registerbtn"
            >
              Change Question order to:
            </button>
            <input
              type  = "hidden"
              name  = "old_order"
              value = "{{associated_question['question_order']}}"
            />
            <input
              type  = "hidden"
              name  = "order_type"
              value = "question"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "round_template"
            />
            <input
              type  = "hidden"
              name  = "round_id"
              value = "{{round_info['round_id']}}"
            />
          </div>

          <select
            name  = "new_order"
            id    = "new_order"
          >
            {% for associated_question_order in (associated_question_info[:associated_question['question_order']-1]+associated_question_info[associated_question['question_order']:]) %}
              <option
                value = "{{associated_question_order['question_order']}}"
              >
                {{associated_question_order['question_order']}}
              </option>
            {% endfor %}
          </select>

        </form>
      {% endif %}
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Questions associated with this Round
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">

  {% endif %}

  <h2>
    Add a Question to this Round:
  </h2>
  {% if unassociated_question_info %}
    {% for unassociated_question in unassociated_question_info %}
      <h3>
        Question {{unassociated_question['question_order']}}: {{unassociated_question['question_tag']}}
      </h3>
      {% if unassociated_question['number_of_associated_rounds'] %}
        Number of associated Rounds: {{unassociated_question['number_of_associated_rounds']}}
        <br>
      {% else %}
        This Question isn't currently associated to any Rounds
        <br>
      {% endif %}
      {% if unassociated_question['associated_rounds'] %}
        Associated Rounds: {{unassociated_question['associated_rounds']}}
        <br>
      {% endif %}
      {% if unassociated_question['question_category'] %}
        Category: {{unassociated_question['question_category']}}
        <br>
      {% endif %}
      {% if unassociated_question['question_difficulty'] %}
        Difficulty: {{unassociated_question['question_difficulty']}}/10
        <br>
      {% endif %}
      {% if unassociated_question['question_points'] %}
        Points: {{unassociated_question['question_points']}}
        <br>
      {% endif %}
      <div
      class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'associate_question'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "question_id"
            value = "{{unassociated_question['question_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "round_template"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round_info['round_id']}}"
            class = "registerbtn"
          >
            Add to Round
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'question_template'
          )}}"
        >
          <button
            type  = "submit"
            name  = "question_id"
            value = "{{unassociated_question['question_id']}}"
            class = "registerbtn"
          >
            Edit Question
          </button>
        </form>
      </div>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Questions to add
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endif %}

  <form
    method  = "POST"
    action  = "{{ url_for(
      'question_maker'
    )}}"
    >
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Create a new Question
    </button>
  </form>

  <hr>

  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'delete_round'
    )}}"
  >
    <input
      type = "hidden"
      name = "round_id"
      value = "{{round_info['round_id']}}"
    />
    <input
      type = "hidden"
      name = "quiz_id"
      value = "{{round_info['quiz_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "round_maker"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Delete Round
    </button>
  </form>

  <hr>
  <h4>To do:</h4>
  <ul>
      <li>Unassociated quizzes and questions are hard coded in mysql</li>
      <li>Maybe change so that a Round can't be associated to a Quiz if Round is not fully completed</li>
      <li>Change question order is it's own function</li>
  </ul>


{%endblock%}