{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div
        class = "w3-container w3-red"
      >
        {{ messages[0] }}
        {% if messages[1] == 'login' %}
          Go to <a
            href = "{{ url_for(
              'login'
            )}}"
          >
            login page
          </a>.
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}

  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'quiz_manager'
    )}}"
  >
    <a
      onclick = "document.getElementById('form').submit(); return false;"
    >
      <h2 style="color: #000000; cursor: pointer;">
        Go back 
      </h2>
    </a>
</form>

  <hr>
  {% if round_info|length > 0 %}
    <!-- Information about Rounds -->
    <h2>
      Existing Rounds:
    </h2>
    {% for round in round_info %}
      <h3>
        Round name: {{round['round_name']}}
      </h3>
      {% if round['round_description'] %}
        Round description: {{round['round_description']}}
        <br>
      {% endif %}
      {% if round['associated_quizzes'] %}
        Number of associated Quizzes: {{round['number_of_associated_quizzes']}}
        <br>
        Associated Quizzes: {{round['associated_quizzes']}}
        <br>
      {% endif %}
      {% if round['associated_questions'] %}
        Number of associated Questions: {{round['number_of_associated_questions']}}
        <br>
        Associated Questions: {{round['associated_questions']}}
        <br>
      {% endif %}
      {% if round['mode_category'] %}
        Mode Category: {{round['mode_category']}}
        <br>
      {% endif %}         
      {% if round['average_difficulty'] %}
        Average Difficulty: {{round['average_difficulty']}}/10
        <br>
      {% endif %}
      {% if round['total_points'] %}
        Total Points: {{round['total_points']}}
        <br>
      {% endif %}   
      <div
      class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'round_template'
          )}}"
        >
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round['round_id']}}"
            class = "registerbtn"
          >
            Edit
          </button>
        </form>
      </div>

      <div
      class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'delete_round'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "round_id"
            value = "{{round['round_id']}}"
          />
          <input
            type  = "hidden"
            name  = "round_name"
            value = "{{round['round_name']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "round_maker"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{round['round_id']}}"
            class = "registerbtn"
          >
            Delete
          </button>
        </form>
      </div>

    <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% endif %}   
  
  <h2>
    Make a new Round:
  </h2>
  <form
    method  = "POST"
    action  = "{{ url_for(
      'create_new_round'
    )}}"
  >
    <input
      type                = "text"
      placeholder         = "Round name"
      name                = "round_name"
      id                  = "round_name"
      required maxlength  = "50"
      pattern             = "[^&quot']+"
    />
    <input
      type  = "hidden"
      name  = "round_id"
      value = "{{round_info['round_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "round_maker"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Create Round
    </button>
  </form>

  <hr/>

  <h4>To do:</h4>
  <ul>
      <li>Have an if statement to say if there are no associated quizzes</li>
      <li>Maybe have Quiz and Question names under a collapsable</li>
  </ul>

{%endblock%}