{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'quiz_manager'
    )}}"
  >
    <a
      onclick = "document.getElementById('form').submit(); return false;"
    >
      <h2 style="color: #000000; cursor: pointer;">
        Go back 
      </h2>
    </a>
  </form>

  <hr/>

  <h2>
    Items:
  </h2>
  {% for item in items %}
    <form
      method  = "POST"
    >
      Item Name:
      <input
        type                = "text"
        placeholder         = "New Item Name"
        value               = "{{item['item_name']}}"
        name                = "new_item_name"
        id                  = "new_item_name"
        required
      />
      Item Description:
      <input
        type                = "text"
        placeholder         = "New Item Description"
        value               = "{{item['item_description']}}"
        name                = "new_item_description"
        id                  = "new_item_description"
        required
      />
      Item Rarity:
      <input
        type        = "number"
        placeholder = "Rarity"
        name        = "item_rarity"
        id          = "item_rarity"
        maxlength   = "3"
        step        = "1"
        min         = "1"
        max         = "100"
        value       = "{{item['item_rarity']}}"
        required
      />
      <br>Chance of success forwards:
      <input
        type        = "number"
        placeholder = "Chance forwards"
        name        = "chance_forwards"
        id          = "chance_forwards"
        maxlength   = "3"
        step        = "1"
        min         = "1"
        max         = "100"
        value       = "{{item['chance_forwards']}}"
      />
      <br>Chance of success backwards:
      <input
        type        = "number"
        placeholder = "Chance backwards"
        name        = "chance_backwards"
        id          = "chance_backwards"
        maxlength   = "3"
        step        = "1"
        min         = "1"
        max         = "100"
        value       = "{{item['chance_backwards']}}"
      />
      <br>Chance of success use:
      <input
        type        = "number"
        placeholder = "Chance use"
        name        = "chance_use"
        id          = "chance_use"
        maxlength   = "3"
        step        = "1"
        min         = "1"
        max         = "100"
        value       = "{{item['chance_use']}}"
      />
      <br>Item Points:
      <input
        type        = "number"
        placeholder = "Points"
        name        = "item_points"
        id          = "item_points"
        maxlength   = "3"
        step        = "1"
        min         = "-100"
        max         = "100"
        value       = "{{item['item_points']}}"
      />
      <input
        type  = "hidden"
        name  = "old_item_name"
        value = "{{item['item_name']}}"
      />
      <input
        type  = "hidden"
        name  = "item_id"
        value = "{{item['item_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "item_maker"
      />
      <br>
      <div
        class = "w3-button"
      >
        <button
          type        = "submit"
          class       = "registerbtn"
          formaction  = "{{ url_for('update_item')}}"
        >
          Update Item
        </button>
      </div>
      <div
        class = "w3-button"
      >
        <button
          type    = "submit"
          class   = "registerbtn"
          name    = "item_name"
          value   = "{{item['item_name']}}"
          formaction  = "{{ url_for('delete_item')}}"
          >
            Delete Item
        </button>
      </div>
    </form>
    <br/>
    <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endfor %}

  <form
    method  = "POST"
    action  = "{{ url_for(
      'add_item'
    )}}"
  >
    Item Name:
    <input
      placeholder         = "Item Name"
      type                = "text"
      name                = "new_item_name"
      id                  = "new_item_name"
      required
    />
    Item Description:
    <input
      placeholder         = "Item Description"
      type                = "text"
      name                = "new_item_description"
      id                  = "new_item_description"
      required
    />
    Item Rarity:
    <input
      placeholder = "Rarity"
      type        = "number"
      name        = "item_rarity"
      id          = "item_rarity"
      maxlength   = "3"
      step        = "1"
      min         = "1"
      max         = "100"
      required
    />
    <br>Chance of success forwards:
    <input
      placeholder = "Chance forwards"
      type        = "number"
      name        = "chance_forwards"
      id          = "chance_forwards"
      maxlength   = "3"
      step        = "1"
      min         = "1"
      max         = "100"
    />
    <br>Chance of success backwards:
    <input
      placeholder = "Chance backwards"
      type        = "number"
      name        = "chance_backwards"
      id          = "chance_backwards"
      maxlength   = "3"
      step        = "1"
      min         = "1"
      max         = "100"
    />
    <br>Chance of success use:
    <input
      placeholder = "Chance use"
      type        = "number"
      name        = "chance_use"
      id          = "chance_use"
      maxlength   = "3"
      step        = "1"
      min         = "1"
      max         = "100"
    />
    <br>Item Points:
    <input
      placeholder = "Points"
      type        = "number"
      name        = "item_points"
      id          = "item_points"
      maxlength   = "3"
      step        = "1"
      min         = "-100"
      max         = "100"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "item_maker"
    />
    <button
      type    = "submit"
      class   = "registerbtn"
    >
      Add Item
    </button>
  </form>

  <hr/>


  <h4>To do:</h4>
  <ul>
      <li>Look at changing the text fields to allow special character</li>
      <li>Have images for the items</li>
  </ul>

{%endblock%}