{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'quiz_manager'
    )}}"
  >
    <a
      onclick = "document.getElementById('form').submit(); return false;"
    >
      <h2 style="color: #000000; cursor: pointer;">
        Go back 
      </h2>
    </a>
  </form>

  <hr>

  <h2>
    Question Scoring Types:
  </h2>
  {% for question_scoring_type in question_scoring_types %}
    <form
      method  = "POST"
    >
      <input
        type                = "text"
        placeholder         = "New Question Scoring Type Name"
        value               = "{{question_scoring_type['question_scoring_type_name']}}"
        name                = "new_question_scoring_type_name"
        id                  = "new_question_scoring_type_name"
      />
      <input
        type                = "text"
        placeholder         = "New Question Scoring Type Description"
        value               = "{{question_scoring_type['question_scoring_type_description']}}"
        name                = "new_question_scoring_type_description"
        id                  = "new_question_scoring_type_description"
      />
      <input
        type  = "hidden"
        name  = "old_question_scoring_type_name"
        value = "{{question_scoring_type['question_scoring_type_name']}}"
      />
      <input
        type  = "hidden"
        name  = "question_scoring_type_id"
        value = "{{question_scoring_type['question_scoring_type_id']}}"
      />
      <input
        type  = "hidden"
        name  = "source_point"
        value = "question_scoring_type_maker"
      />
      <div
        class = "w3-button"
      >
        <button
          type        = "submit"
          class       = "registerbtn"
          formaction  = "{{ url_for('update_question_scoring_type')}}"
        >
          Update Question Scoring Type
        </button>
      </div>
      <div
        class = "w3-button"
      >
        <button
          type    = "submit"
          class   = "registerbtn"
          name    = "question_scoring_type_name"
          value   = "{{question_scoring_type['question_scoring_type_name']}}"
          formaction  = "{{ url_for('delete_question_scoring_type')}}"
          >
            Delete Question Scoring Type
        </button>
      </div>
    </form>
    <br/>
    <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endfor %}

  <form
    method  = "POST"
    action  = "{{ url_for(
      'add_question_scoring_type'
    )}}"
  >
    <input
      type                = "text"
      placeholder         = "Question Scoring Type Name"
      name                = "question_scoring_type_name"
      id                  = "question_scoring_type_name"
      required
    />
    <input
      type                = "text"
      placeholder         = "Question Scoring Type Description"
      name                = "question_scoring_type_description"
      id                  = "question_scoring_type_description"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "question_scoring_type_maker"
    />
    <button
      type    = "submit"
      class   = "registerbtn"
    >
      Add Question Scoring Type
    </button>
  </form>

  <hr>


  <h4>To do:</h4>
  <ul>
      <li>Nothing</li>
  </ul>

{%endblock%}