{%extends 'layouts/layout.html'%}

{%block body%}

  <!-- Style for the page -->
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  <!-- Displays any messages to the use -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div
        class = "w3-container w3-red"
      >
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}
  
  <form
    method = "POST"
    id     = "form"
    action = "{{ url_for(
      'quiz_maker'
    )}}"
  >
    <a
      onclick = "document.getElementById('form').submit(); return false;"
    >
      <h2 style="color: #000000; cursor: pointer;">
        Go back 
      </h2>
    </a>
  </form>
  <hr>

  <!-- Current name of the Quiz -->
  <h2>
    Quiz Name: {{quiz_info['quiz_name']}}
  </h2>
  <!-- Update Quiz name -->
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_quiz_name'
    )}}"
  >
    <input
      type                = "text"
      placeholder         = "New Quiz name"
      name                = "new_quiz_name"
      id                  = "new_quiz_name"
      required maxlength  = "50" 
    />
    <input
      type  = hidden
      name  = "quiz_id"
      value = "{{quiz_info['quiz_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "quiz_template"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Quiz name
    </button>
  </form>

  <hr>

  <!-- Current Quiz description -->
  <h2>
    Quiz Description:
  </h2>
  <p>
    {{quiz_info['quiz_description']}}
  </p>

  <!-- Update Quiz description -->
  <form
    method  = "POST"
    action  = "{{ url_for(
      'update_quiz_description'
    )}}"
  >
    <input
      type  = hidden
      name  = "quiz_id"
      value = "{{quiz_info['quiz_id']}}"
    />
    <input
      type  = "hidden"
      name  = "source_point"
      value = "quiz_template"
    />
    <textarea
      rows          = "2"
      cols          = "20"
      placeholder   = "New Quiz description"
      name          = "new_quiz_description"
      id            = "new_quiz_description"
      required wrap = "soft"
    ></textarea>
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Quiz description
    </button>
    <style>
      #new_quiz_description {
        width: 100%;
      }
    </style>
  </form>

  {% if associated_round_info %}
    <hr>

    <h2>
      Quiz Info:
    </h2>
      Number of associated Rounds: {{quiz_info['number_of_associated_rounds']}}
      <br>
      Number of associated Questions: {{quiz_info['number_of_associated_questions']}}
      <br>
      Most common Question category: {{quiz_info['mode_question_category']}}
      <br>
      Average Question Difficulty: {{quiz_info['average_question_difficulty']}}/10
      <br>
      Total points in this Quiz: {{quiz_info['total_points']}}
  {% endif %}


  <hr>
  <h2>
    Associated Rounds:
  </h2>
  {% if associated_round_info %}
    {% for associated_round in associated_round_info %}
      <h3>
        Round {{associated_round['round_order']}}: {{associated_round['round_name']}}
      </h3>
      {% if associated_round['round_description'] %}
        Round Description: {{associated_round['round_description']}}
        <br>
      {% endif %}
      {% if associated_round['number_of_associated_questions'] %}
        Number of Questions: {{associated_round['number_of_associated_questions']}}
        <br>
      {% endif %}
      {% if associated_round['associated_questions'] %}
        Associated Questions: {{associated_round['associated_questions']}}
        <br>
      {% endif %}
      {% if associated_round['mode_question_category'] %}
        Category Type: {{associated_round['mode_question_category']}}
        <br>
      {% endif %}
      {% if associated_round['average_question_difficulty'] %}
        Round Difficulty: {{associated_round['average_question_difficulty']}}
        <br>
      {% endif %}
      {% if associated_round['total_points'] %}
        Total number of Points in round: {{associated_round['total_points']}}
      {% endif %}
      <br>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'unassociate_round'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "quiz_template"
          />
          <input
            type  = "hidden"
            name  = "round_name"
            value = "{{associated_round['round_name']}}"
          />
          <input
            type  = "hidden"
            name  = "round_order"
            value = "{{associated_round['round_order']}}"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{associated_round['round_id']}}"
            class = "registerbtn"
          >
            Remove from Quiz
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'round_template'
          )}}"
        >
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{associated_round['round_id']}}"
            class = "registerbtn"
          >
            Edit Round
          </button>
        </form>
      </div>


      {% if associated_round_info|length > 1 %}
        <form style="display: inline;"
          method  = "POST"
          action  = "{{ url_for(
            'change_order'
          )}}"
        >

          <div
          class = "w3-button"
          >
            <button
              type  = "submit"
              name  = "round_id"
              value = "{{associated_round['round_id']}}"
              class = "registerbtn"
            >
              Change Round order to:
            </button>
            <input
              type  = "hidden"
              name  = "old_order"
              value = "{{associated_round['round_order']}}"
            />
            <input
              type  = "hidden"
              name  = "order_type"
              value = "round"
            />
            <input
              type  = "hidden"
              name  = "source_point"
              value = "quiz_template"
            />
            <input
              type  = "hidden"
              name  = "quiz_id"
              value = "{{quiz_info['quiz_id']}}"
            />
          </div>

          <select
            name  = "new_order"
            id    = "new_order"
          >
            {% for associated_round_order in (associated_round_info[:associated_round['round_order']-1]+associated_round_info[associated_round['round_order']:]) %}
              <option
                value = "{{associated_round_order['round_order']}}"
              >
                {{associated_round_order['round_order']}}
              </option>
            {% endfor %}
          </select>

        </form>
      {% endif %}
        <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Rounds associated with this Quiz
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">

  {% endif %}

  <h2>
    Add a Round to the Quiz:
  </h2>
  {% if unassociated_round_info %}
    {% for unassociated_round in unassociated_round_info %}
      <h3>
        {{unassociated_round['round_name']}}{% if unassociated_round['round_description'] %}: {{unassociated_round['round_description']}}{% endif %}
      </h3>
      {% if unassociated_round['number_of_associated_questions'] %}
        Number of Questions: {{unassociated_round['number_of_associated_questions']}}
        <br>
      {% endif %}
      {% if unassociated_round['associated_questions'] %}
        Associated Questions: {{unassociated_round['associated_questions']}}
        <br>
      {% endif %}
      {% if unassociated_round['mode_question_category'] %}
        Category Type: {{unassociated_round['mode_question_category']}}
        <br>
      {% endif %}
      {% if unassociated_round['average_question_difficulty'] %}
        Round Difficulty: {{unassociated_round['average_question_difficulty']}}
        <br>
      {% endif %}
      {% if unassociated_round['total_points'] %}
        Total number of Points in round: {{unassociated_round['total_points']}}
        <br>
      {% endif %}
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'associate_round'
          )}}"
        >
          <input
            type  = "hidden"
            name  = "quiz_id"
            value = "{{quiz_info['quiz_id']}}"
          />
          <input
            type  = "hidden"
            name  = "source_point"
            value = "quiz_template"
          />
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{unassociated_round['round_id']}}"
            class = "registerbtn"
          >
            Add to Quiz
          </button>
        </form>
      </div>
      <div
        class = "w3-button"
      >
        <form
          method  = "POST"
          action  = "{{ url_for(
            'round_template'
          )}}"
        >
          <button
            type  = "submit"
            name  = "round_id"
            value = "{{unassociated_round['round_id']}}"
            class = "registerbtn"
          >
            Edit Round
          </button>
        </form>
      </div>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
    {% endfor %}
  {% else %}
      There are no Rounds to add
      <br><br>
      <hr style="width:40%; margin: auto; margin-bottom:2em">
  {% endif %}
    
  <form
    method  = "POST"
    action  = "{{ url_for(
      'round_maker'
    )}}"
  >
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Create a new Round
    </button>
  </form>
  <hr>

  <h2>
    Participants:
  </h2>
  <div class="w3-row">
    <div class="w3-col s6 w3-center">
      <form
      method  = "POST"
      action  = "{{ url_for(
        'add_participants'
      )}}"
      >
        <select
          name            = "user_id"
          id              = "user_id"
          multiple style  = "width: 80%;"
        >
          {% for user in user_info %}
            {% if user['user_id'] != session['user_id'] %}
              <option
                value = "{{user['user_id']}}"
              >
                {{user['username']}}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <br/>
        <br/>
        <button
          type  = "submit"
          id    = "add_participants"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          Add Participants:
        </button>
        <style>
          #add_participants {
            width: 80%;
          }
        </style>
        <input
          type  = "hidden"
          name  = "source_point"
          value = "quiz_template"
        />
      </form>
    </div>
    <div class="w3-col s6 w3-center">
      <form
      method  = "POST"
      action  = "{{ url_for(
        'remove_participants'
      )}}"
      >
        <select
          name            = "username"
          id              = "username"
          multiple style  = "width: 80%;"
        >
          {% for participant in participant_info %}
            <option
              value = "{{participant['username']}}"
            >
              {{participant['username']}}
            </option>
          {% endfor %}
        </select>
        <br/>
        <br/>
        <button
          type  = "submit"
          id    = "remove_participants"
          name  = "quiz_id"
          value = "{{quiz_info['quiz_id']}}"
          class = "registerbtn"
        >
          Remove Participants:
        </button>
        <style>
          #remove_participants {
            width: 80%;
          }
        </style>
        <input
          type  = "hidden"
          name  = "source_point"
          value = "quiz_template"
        />
      </form>
    </div>
  </div> 
  
  <hr>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'delete_quiz'
    )}}"
  >
    <input
      type  = hidden
      name  = "quiz_id"
      value = "{{quiz_info['quiz_id']}}"
    />
    <input
      type  = hidden
      name  = "quiz_name"
      value = "{{quiz_info['quiz_name']}}"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Delete Quiz
    </button>
  </form>

  <hr>

  <h4>To do:</h4>
  <ul>
      <li>Maybe have it that you can't associate two rounds in a quiz with the same name</li>
      <li>Have it so that the participants list is changed in code not to include host of quiz, not in html</li>
      <li>Add new entry into db for quiz hosts</li>
      <li>Add host quiz button if rounds and questions are associated</li>
  </ul>

  {%endblock%}