{%extends 'layouts/layout.html'%}
{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>

  <!-- !PAGE CONTENT! -->
  <div
    class = "w3-container"
  >
    <p>
      Couldn't get the email extension in Python to work and cba to bother for now.
      <br/>
      <a
        href = "about"
      >
        Contact us
      </a>
      for a temporary unsecure password.
    </p>
  </div>
  <div
    class = "w3-container signin"
  >
    <p>
      Remembered your password?
      <a
        href = "login"
      >
        Sign in
    </a>
    </p>
  </div>

  <hr>
  <h4>To do:</h4>
  <ul>
      <li>This needs to be added in app.py</li>
  </ul>


{%endblock%}