{%extends 'layouts/layout.html'%}
{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


  <form
    method = "POST"
    action = "{{ url_for(
      'login_attempt'
    )}}"
  >
    <input
      type                = "text"
      placeholder         = "User Name/Email"
      name                = "user_details"
      id                  = "user_details"
      required maxlength  = "50"
    />
    <input
      type                = "password"
      placeholder         = "Password"
      name                = "user_password"
      id                  = "user_password"
      required maxlength  ="50"
    />
    <input
      class = "registerbtn"
      type  = "submit"
      value = "login"
    />
  </form>

  <div
    class = "w3-container signin w3-row"
  >
    <center>
      <div
        class = "vl"
      >
      </div>
    </center>
    <div
      class = "w3-half"
    >
      <p>
        <a
          href  = "register"
          class = "btn"
        >
          Register
        </a>
      </p>
    </div>
    <div
      class = "w3-half"
    >
      <p>
        <a
          href  = "forgot_password"
          class = "btn"
        >
          Forgot password?
        </a>
      </p>
    </div>
  </div>
{%endblock%}