{%extends 'layouts/layout.html'%}

{%block body%}
  <head>
    <link
      rel   = "stylesheet"
      type  = "text/css"
      href  = "{{ url_for(
        'static',
        filename = 'styles/quiz.css'
      )}}"
    />
  </head>


  <h1
    class = "title"
  >
    Welcome, {{ username }}!
  </h1>

  <hr/>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'username_update'
    )}}"
  >
    <p>
      Current username: {{ username }}
    </p>
    <input
      type                = "text"
      placeholder         = "New Username"
      name                = "new_username"
      id                  = "new_username"
      required maxlength  = "50"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Username
    </button>
  </form>

  <hr/>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'email_update'
    )}}"
  >
    <p>
      Current email: {{ email }}
    </p>
    <input
      type                = "email"
      placeholder         = "New Email"
      name                = "new_user_email"
      id                  = "new_user_email"
      required maxlength  = "50"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Email
    </button>
  </form>

  <hr/>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'password_update'
    )}}"
  >
    <input
      type                = "password"
      placeholder         = "New Password"
      name                = "new_user_password"
      id                  = "new_user_password"
      required maxlength  = "50"
    />
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Update Password
    </button>
  </form>

  <hr/>

  <form
    method  = "POST"
    action  = "{{ url_for(
      'profile_delete'
    )}}"
  >
    <button
      type  = "submit"
      class = "registerbtn"
    >
      Delete Account
    </button>
  </form>
{%endblock%}